.frc {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-column: 2;
  background: black;
}

.frc_header {
  text-align: center;
  font-size: 3rem;
}
.frc_header h1 {
  margin: 0;
}

.frc_main {
  position: relative;
  overflow: auto;
}

.frc_footer {
  display: grid;
  grid-gap: 1em;
  grid-template: auto / 2fr 3fr;
  padding: 1.5em 2em;
}


.frc_footer .link {
  background: rgb(97, 97, 97);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.75em 1em;
  text-align: center;
  text-decoration: none;
}

.frc_footer .link-primary {
  background: rgb(117, 30, 30);
}


@media(max-width: 495px) {
  .frc_footer {
    grid-template: auto / 1fr;
  }

  .frc_footer .link {
    font-size: 1rem;
    padding: 0.5em 1em;
  }
}

.movements {
  width: 100%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

.movements > * {
  margin: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 1rem 1rem;
}

.material-icons {
  vertical-align: sub;
}