.frc-page {
    display: grid;
    grid-template: min-content 1fr / auto;
    grid-column: 2;
}

.frc-page_header {
    padding: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.frc-page_header {
    transition: background-color 0.1s ease-in;
}

.frc-page_header:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.frc-page_main {
    display: grid;
    grid-template: min-content 1fr min-content / auto;
}

.frc-page_main > header {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}
