.movement-timer {
    display: grid;
    grid-template: min-content min-content 1fr min-content / auto;
}
.movement-timer_name {
    padding: 0.5em;
    text-align: center;
    font-size: 3rem;
    line-height: 3.2rem;
}

.movement-timer_timers {
    display: grid;
    grid-template: auto / 1fr 1fr;
    font-size: 3rem;
    margin-top: 1rem;
}

.movement-timer_timers > * {
    padding: 0em 0.5em;
}

.movement-timer_value {
    display: grid;
    grid-template: auto / min-content min-content min-content min-content;
    grid-gap: 0.4em;
    justify-self: right;
}

.movement-timer_buttons {
    padding: 1em;
}

.movement-timer_buttons button {
    cursor: pointer;
    width: 100%;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.75em 1em;
    text-align: center;
    text-decoration: none;
    background: rgb(117, 30, 30);
}

.movement-timer_value {
    text-align: right;
}