.frc {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-column: 2;
}

.frc_header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}
.frc_header h1 {
  margin: 0;
}

.frc_main {
  position: relative;
  overflow: auto;
}

.frc_footer {
  display: grid;
  grid-gap: 1em;
  padding: 2em;
}

.frc_footer button {
  background: rgb(117, 30, 30);
  border: none;
  color: white;
  font-size: 1.6rem;
  padding: 0.75em 1em;
}

.movements {
  width: 100%;
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

.movements > * {
  margin: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 1rem 1rem;
}
