.frc {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-column: 2;
}

.frc_header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}
.frc_header h1 {
  margin: 0;
}

.frc_main {
  position: relative;
  overflow: auto;
}

.frc_footer {
  display: grid;
  grid-gap: 1em;
  padding: 2em;
}

.movements {
  position: absolute;
}
